         {% load accounts_tag %}
        {% for i in content %}
        <tr class="gradeA odd" role="row">
          <td class="sorting_1">{{ i.id|split }}</td>
          <td><a href="/fms/detail/{{ i.id |uuid_to_str }}">{{ i.title }}</a></td>
          {% if i.author == 'ZABBIX' %}
            <td>{{ i.level }}</td>
            <td class="center">{{ i.type }}</td>
          {% else %}
            <td>{{ i.get_level_display }}</td>
            <td class="center">{{ i.type }}</td>
          {% endif %}

          <td class="center">{{ i.project }}</td>

          {% if i.author == 'ZABBIX' %}
            <td class="center">{{ i.improve }}</td>
          {% else %}
            <td class="center">{{ i.get_improve_display }}</td>
          {% endif %}
          <td class="center">{{ i.time }}</td>
          {% if i.author == 'ZABBIX' %}
              <td class="center">{{ i.status }}</td>
              <td class="center">ZABBIX</td>
          {% else %}
              <td class="center">{{ i.get_status_display }}</td>
              <td class="center">{{ i.author.fullname }}</td>
          {% endif %}

          <td class="center">{{ i.ctime }}</td>

          <td class="center">
           <a href=/fms/edit?id={{i.id|uuid_to_str}}  class="btn btn-xs btn-success btn-edit">编辑</a>
           <a class="btn btn-xs btn-primary btn-email" data-toggle="modal" data-target="#editor" data-row={{ i.id|uuid_to_str }}|{{ i.author.fullname }}>通知</a>
          </td>
        </tr>
        {% endfor %}