    <div class="row">
      <div class="col-sm-6">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">当前第{{content.number}}页,共{{pages.num_pages}}页
        每页显示 <select name="pagenumber"  id="pagenumber"></select> 条
        </div>

      </div>
      <div class="col-sm-6">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
          <ul class="pagination">
            <li>
              <a href="?page={% if idc.has_previous %}{{content.previous_page_number}}{% else %}{{content.number}}{% endif %}&pagenumber={{pagenumber}}{% if keyword %}&keyword={{keyword}}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% for page in pages.page_range %}
            <li><a href="?page={{page}}&pagenumber={{pagenumber}}">{{page}}</a></li>

            {% endfor %}
            <li>
              <a href="?page={% if content.has_next %}{{ content.next_page_number}}{% else %}{{content.number}}{% endif %}&pagenumber={{pagenumber}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
